In [ ]:
# 1 . Write a code to create a string with your name and print it .
name = "Ayush"
print(name)

Ayush

In [ ]:
# 2. Write a code to find the length of your string . "Hello would"
text="Hello would"
print(len(text))

11

In [ ]:
# 3 . Write a code to slice the first 3 characters from the sting "Pyhton " Programming .
text="Pyhton programming"
print(text[:3])

Pyh

In [ ]:
# 4 . Write a code to convert the string "hello" to uppercase .
text= "hello"
print(text.upper())

HELLO

In [ ]:
# 5 . Write a code to replace the word "apple"with"orange" in the string"I like apple
text=" I like apple"
print(text.replace("apple","orange"))

 I like orange

In [ ]:
# 6 . Write a code  to create a list with numbers 1 to 5 and print it .
numbers=[1,2,3,4,5]
print(numbers)

[1, 2, 3, 4, 5]

In [ ]:
# 7 .Write a code to append the number 10 to the list [1,2,3,4,5].
numbers=[1,2,3,4,5]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 5, 10]

In [ ]:
# 8 . Write a code to remove the number 3 from the list [1,2,3,4,5].
numbers=[1,2,3,4,5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

In [ ]:
# 9 . Write a code to access the scond element in the list ['a','b','c','d']
letters=['a','b','c','d']
print(letters[1])

b

In [ ]:
# 10 . Write a code to reverse the list [10,20,30,40,50]
numbers= [10,20,30,40,50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

In [ ]:
# 11 . Create a tuple with the elements 100,200,300 and print it .
t=(100,200,300)
print(t)

(100, 200, 300)

In [ ]:
# 12 . Access the secound-to-last element of the tuple.
colors=("red","green","blue","yellow")
print(colors[-2])

blue

In [ ]:
# 13 . Find the mimimum number in the tuple .
nums=(10,20,5,15)
print(min(nums))

5

In [ ]:
# 14 . Find the index of "cat" in the tuple .
animals= ("dog","cat","rabbit")
print(animals.index("cat"))

1

In [ ]:
# 15 . Create a tuple with fruits and check if "kiwi" is in it .
fruits=("apple","banana","mango")
print("kiwi"in fruits)

False

In [ ]:
# 16 . Create a set with elements a,b,c and print it .
s={1,2,3,4,5}
s.clear()
print(s)

set()

In [ ]:
# 17 . Clear all element from set {1,2,3,4}.
s={1,2,3,4}
s.remove(4)
print(s)

{1, 2, 3}

In [ ]:
# 17 . Find union of two sets {1,2,3} and {3,4,5}.
s1={1,2,3}
s2={3,4,5}
print(s1.union(s2))

{1, 2, 3, 4, 5}

In [ ]:
# 18 . find intersection of two sets {1,2,3} and {2,3,4}.
s1={1,2,3}
s2={2,3,4}
print(s1.intersection(s2))

{2, 3}

In [ ]:
# 19 . Create a dicitionary with keys name, age, city
d={"name":"Ayush","age":20,"city":"Lucknow"}
print(d)

{'name': 'Ayush', 'age': 20, 'city': 'Lucknow'}

In [ ]:
# 20 . Add a new key-value pair country: USA
D={"name":"Ayush","age":20,"city":"Lucknow"}
D["country"]="USA"
print(D)
#

{'name': 'Ayush', 'age': 20, 'city': 'Lucknow', 'country': 'USA'}

In [ ]:
# 21 . Access the value associated with "name"
d={"name":"Ayush","age":20,"city":"Lucknow"}
print(d["name"])

Ayush

In [ ]:
# 22 .Remove the key "age"
d={"name":"Ayush","age":20,"city":"Lucknow"}
d.pop("age")
print(d)

{'name': 'Ayush', 'city': 'Lucknow'}

In [ ]:
# 23 . check if "city"exists in dictionary
D={"name":"Ayush","age":20,"city":"Lucknow"}
print("city"in D)

True

In [ ]:
# 24 . Create a list , a tuple , and a dictionary, print them
my_list=[1,2,3,4,5]
my_tuple=(1,2,3,4,5)
my_dict={"name":"Ayush","age":20,"city":"Lucknow"}
print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)
{'name': 'Ayush', 'age': 20, 'city': 'Lucknow'}

In [ ]:
# 25 . Create a list of 5 random numbers between 1 and 100 , sort it
import random
numbers=[random.randint(1,100)for _ in range(5)]
numbers.sort()
print(numbers)

[61, 69, 78, 81, 98]